body {
    background-color: #0a3122;
    color: rgb(34, 143, 98);
    margin: 0 10%;
}

.header {
    background-color: #0a3122;
    text-align: center;
    font-family: "Arimo", sans-serif; 
    font-size: 40px;
    font-weight: 700;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    border: 3px solid rgb(34, 143, 98);
    border-radius: 15px;
    padding: 20px;
    margin: 15px auto;
    display: block;
}

/* Color section */

.color-panel {
    display: inline-block;
    border: 3px solid rgb(34, 143, 98);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 25px auto;
    min-height: 100px;
}

.lighter {
    background-color: #8ae3cc;
    color: #000000;
    font-weight: 900;
}

.light {
    background-color: #369c81;
    color: #000000;
    font-weight: 900;
}

.dark {
    background-color: #28735f;
    color: #000000;
    font-weight: 900;
}

.darker {
    background-color: #194f41;
    color: #d8ede8;
    font-weight: 900;
}

/* Font section */

.font-panel {
    width: 30%;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.neuton {
    font-family: "Neuton", serif;
}

.arimo {
    font-family: "Arimo", sans-serif;
}

.montserratalternates {
    font-family: "Montserrat Alternates", sans-serif;
}

/* Text section */

.text-panel h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: "Arimo", sans-serif; 
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat Alternates", sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Neuton", serif;
}
