body {
    background-color: #0a3122;
    color: rgb(34, 143, 98);
    margin: 0 10%;
}

.header {
    background-color: #0a3122;
    text-align: center;
    font-family: "Arimo", sans-serif; 
    font-size: 50px;
    font-weight: 700;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    border: 3px solid rgb(34, 143, 98);
    border-radius: 25px;
    padding: 20px;
    margin: 15px auto;
    display: block;
}

/* Color section */

.color-panel {
    display: inline-block;
    border: 3px solid rgb(34, 143, 98);
    border-radius: 5px;
    width: 35%;
    text-align: center;
    margin: 15px auto;
    min-height: 100px;
}

.lake-blue {
    background-color: #256886;
    color: #000000;
    font-weight: 900;
}

.sauron-red {
    background-color: #e42626;
    color: #000000;
    font-weight: 900;
}

.moss-green {
    background-color: #3d6338;
    color: #000000;
    font-weight: 900;
}

.zen-grey {
    background-color: #8b8f91;
    color: #000000;
    font-weight: 900;
}

/* Font section */

.font-panel {
    width: 30%;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.neuton {
    font-family: "Neuton", serif;
}

.arimo {
    font-family: "Arimo", sans-serif;
}

.montserratalternates {
    font-family: "Montserrat Alternates", sans-serif;
}

/* Text section */

.text-panel h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: "Arimo", sans-serif; 
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat Alternates", sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Neuton", serif;
}